awswrangler
beautifulsoup4
boto3
cfn-lint
Jinja2
localstack
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-material-extensions
numpy
pandas
Pygments
pymdown-extensions
PyYAML
requests
tabulate
urllib3
